<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFile" />
  </root>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <appendToFile value="true" />
    <file value="logs\log" />
    <rollingStyle value="Date" />
    <datePattern value="'-'yyyyMMddHHmm'.txt'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger.%method [%line] - %message%newline" />
    </layout>
  </appender>
</log4net>